//
//  Defaults.xcconfig
//  SoftEtherVPN
//
//  Created by Gentoli on 2019-05-12.
//  Copyright © 2019 Gentoli. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "CMake.xcconfig"
#include "Developer.xcconfig"

FRAMEWORKS_ARCH_PATHS = $(SRCROOT)/../BuildFiles/Library/xcode

